/* Reseteo de CSS */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

h1 {
    color: rgb(248, 184, 223);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 240, 231);
}

header {
    background: #b69f9f;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.titulo-principal {
    text-align: center;
    margin: 20px 0;
}

/* Sección de artículos */
section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.articulo-destacado {
    border: 2px solid #c49d55;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    background-color: #e6dfdf;
}

.articulo-destacado img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

section {
    grid-template-columns: 1fr;
}

section img {
    width: 100%;
    border-radius: 15px;
}

/* Sección de consejos */
.tips {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.tips h2 {
    text-align: center;
}

.tips ul {
    list-style: none;
    padding: 0;
}

.tips ul li {
    border: 1px solid #b86ea5;
    color: black;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Estilos para el footer */
footer {
    background: #d3b4b4;
    color: black;
    text-align: center;
    padding: 20px 0;
}

footer div h5 {
    margin-bottom: 10px;
}

footer p {
    color: #6e582d;
    text-decoration: none;
    margin: 10px;

    /* Media Queries */

    /* Para pantallas hasta 600px */
    @media (max-width: 600px) {
        nav ul li {
            display: block;
            margin: 10px 0;
        }
    }

    /* Pantallas desde 601px hasta 900px */
    @media (max-width: 601px) and (max-width: 900px) {
        .tips {
            grid-template-columns: repeat(2, 1fr);
        }

        .tips ul li {
            font-size: 16px;
        }
    }

    /* Pantallas de 901px a 1400px */
    @media (min-width: 901px) and (max-width: 1400px) {
        .tips {
            max-width: 800px;
            margin: auto;
            grid-template-columns: repeat(3, 1fr);
        }

        .tips ul li {
            font-size: 18px;
        }
    } 